/*
 * "Install Plugins" page styles
 */
.mts-addons-tabs-wrap { text-align: center }
.mts-addons-tabs { list-style: none; border: 1px solid #ddd; border-radius: 4px; margin: 40px auto 0; overflow: hidden; display: inline-block; }
.mts-addons-tabs li { float: left; width: 200px; border-right: 1px solid #ddd; margin: 0!important; background: #fff; }
.mts-addons-tabs li:last-child { border-right: 0 }
.mts-addons-tabs li a { font-size: 14px; font-weight: bold; color: #5a5a5a; text-transform: uppercase; display: block; padding: 15px 10px; text-decoration: none; outline: none!important; transition: all .25s ease-in-out; }
.mts-addons-tabs li a:hover { color: #51B4D3 }
.mts-addons-tabs li.active { background: #51B4D3 }
.mts-addons-tabs li.active a { color: #fff!important }
.mts-addons-header { margin: 25px 6.5% 30px; text-align: center; }
.mts-addons-header h2 { margin: 0 0 15px; padding: 0; font-size: 48px; font-weight: 400; letter-spacing: -0.05em; line-height: 1.1; }
.mts-addons-header > p { margin: 0; padding: 0; font-size: 21px; font-weight: 300; line-height: 1.3; color: #777; }
.mts-addons-header a { text-decoration: none }
.mts-addons-list { max-width: 1400px; margin: 0 auto; list-style: none; }
li.mts-addon { border: 5px solid #c5c5c5; background-color: #fff; box-sizing: border-box; width: calc(33.3333% - 14px); float: left; }
li.mts-addon:nth-child(even), li.mts-addon:nth-child(odd) { clear: none; margin: 0 20px 20px 0; }
li.mts-addon.visible { display: block }
li.mts-addon:nth-child(3n) { margin-right: 0 }
li.mts-addon:nth-child(3n+1) { clear: left }
.mts-addon.active { border-color: #7ad03a }
.mts-addon .top { position: relative; padding: 20px; text-align: center; }
li.mts-addon .top { min-height: 345px }
.mts-addon .img { width: 100px; margin: 0 0 1em; border-radius: 3px; }
.mts-addon .info { margin: 0 }
.mts-addon .title { margin: 0; font-size: 1.5em; line-height: 1.2; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.mts-addon .status { display: inline-block; margin: 1em 0 0; border: 1px solid; padding: 0 7px; line-height: 26px; border-radius: 3px; text-decoration: none; box-shadow: none; text-shadow: none; }
.mts-addon .status:before { color: #fff }
.mts-addon .status.active { color: #fff; border-color: #7ad03a!important; background-color: #7ad03a!important; box-shadow: none; }
.mts-addon .status.inactive { color: #fff; border-color: #ffba00; background-color: #ffba00; }
.mts-addon .status.not-installed { color: #fff; border-color: #a00; background-color: #a00; }
div.mts-addon .desc { max-width: 350px; margin-left: auto; margin-right: auto; }
.mts-addon .author { margin-bottom: 0 }
.mts-addon .bottom { clear: both; overflow: hidden; border-top: 1px solid #e5e5e5; padding: 10px; text-align: center; background-color: #fafafa; }
.mts-addon .bottom > .button { margin-bottom: 0 }
.mts-addon .bottom .button { margin: 2px }
.tgmpa .subsubsub { float: none }
#the-list .plugin-card { float: none; width: auto; background-color: transparent; border: 0; margin-right: 0; }
#the-list .button { color: #0073aa!important; border: 0!important; background: transparent!important; padding: 0!important; box-shadow: none!important; text-shadow: none!important; font-size: inherit!important; vertical-align: middle; }
#the-list .button:active, #the-list .button:hover { color: #00a0d2!important }
.wp-list-table #the-list tr:not(.inline-edit-row):not(.no-items) td:not(.column-primary)::before { content: ''!important; }
.plugin-card .update-now-alt:before { color: #f56e28; content: "\f463"; display: inline-block; font: normal 20px/1 dashicons; margin: 3px 5px 0 -2px; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; vertical-align: top; }
.plugin-card .update-now-alt.updated-message:before { color: #79ba49; content: "\f147"; }
@media (max-width: 700px) { 
	.mts-addons-tabs li { clear: left; border-right: 0; border-bottom: 1px solid #ddd; }
	.mts-addons-tabs li:last-child { border-bottom: 0 }
	li.mts-addon .top { min-height: 1px }
	li.mts-addon { float: none!important; width: 100%!important; max-width: 450px!important; margin: 0 auto 10px!important; }
}
@media screen and (max-width: 500px) { 
	.mts-addons-header h2 { font-size: 36px }
}
.loader { margin: 200px auto; font-size: 25px; width: 1em; height: 1em; border-radius: 50%; position: relative; text-indent: -9999em; animation: load5 1.1s infinite ease; transform: translateZ(); }
@keyframes load5 { 
	0%, 100% { box-shadow: 0em -2.6em 0em 0em #000000, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7) }
	12.5% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #000000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5) }
	25% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #000000, 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2) }
	37.5% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2) }
	50% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #000000, -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2) }
	62.5% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #000000, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2) }
	75% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #000000, -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2) }
	87.5% { box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #000000 }
}